﻿@model IEnumerable<Eticaret.Model.Entity.Basket>

<table class="table">
    <tr>
        <th>
            Ürün Adı
        </th>
        <th>
            Adet
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<a href="/Siparisver" class="btn btn-primary" @*style="float:right"*@><i class="far fa-credit-card"></i>  &nbsp;  Satin Al</a>