﻿@model List<Eticaret.Model.Entity.Product>
@{
    ViewBag.Title = "Index";
    var category = (Eticaret.Model.Entity.Category)ViewBag.category;
}

<h3>@category.Name kategorisindeki ürünler</h3>
@{
    foreach (var item in Model)
    {
        <div class="productBox">
            <p class="title"> @item.Name </p> <br />
            <img src="@item.ImageUrl" /><br />
            <p> @item.Brand </p> <br />
            <p> @item.Description </p>
            <p> @item.Price.ToString("##,## ₺") </p>


            <a href="/urun/@item.Name.Replace(" ","-")/@item.ID" class="btn btn-success">Incele</a>
            <a href="#" class="btn btn-default"><i class="fas fa-shopping-basket"></i> Sepete at</a>
        </div>
    }
}

<div class="row"></div>

<style>
    .productBox {
        width: 200px;
        float: left;
        margin: 10px;
        border: 2px solid #00ffff;
        padding: 10px;
    }

        .productBox img {
            width: 100%;
        }

        .productBox .title {
            font-weight: bold;
            text-align: center;
        }

        .productBox p {
            text-align: center;
        }
</style>