﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eticaret Yönetici Girişi</title>
</head>
<body>
    <form method="post"> 
        <br />
        <p align="center">
            @Html.Label("Email:") 
            @Html.TextBox("Email")
        </p>        
        <p align="center">
            @Html.Label("Şifre       :")
            @Html.Password("Password")
        </p>        
        <p align="center">
            <button type="submit">Giriş Yap</button>
        </p>
    </form>
</body>
</html>
