﻿@model Eticaret.Model.Entity.Product
@{
    ViewBag.Title = "Urun Detayi";
}

<h2>ÜRÜN DETAYI</h2>

<div class="productBox">
    <p class="title"> @Model.Name </p> <br />
    <img src="@Model.ImageUrl" /><br />
    <p> @Model.Brand </p> <br />
    <p> @Model.Description </p>
    <p> @Model.Price.ToString("##,## ₺") </p>


    <a href="#" class="btn btn-success" class="btn btn-default"><i class="fas fa-shopping-basket"></i> Sepete at</a>
</div>