﻿
@{
    ViewBag.Title = "Admin";
    var user = Session["AdminLoginUser"] as Eticaret.Model.Entity.User;
}

<h2>Sayın @user.Name @user.LastName Hoşgeldiniz</h2>
<ul>
    <li>
        <a href="/Admin/Users">Üyeler Yönetimi</a>        
    </li>
    <li>
        <a href="/Admin/Categories">Kategoriler Yönetimi</a>
    </li>
    <li>
        <a href="/Admin/Products">Ürünler Yönetimi</a>
    </li>
</ul>